#purchases {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .graph {
        position:relative;
        width:600px;
        height:300px;
        background:#fff;
        overflow:hidden;
        border-radius:3px;

        .inner {
            display: none;
            box-sizing: content-box;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            background-image: linear-gradient(-30deg, transparent 0%, transparent 50%, #209F85 50%, #209F85 100%), linear-gradient(45deg, #E3724D 0%, #E3724D 50%, #E38362 50%, #E38362 100%);
            border-radius: 50%;

            &.rotate {
                transform: translate(-50%, 50%) rotateZ(135deg);
                transition: 1s transform linear;
            }
            
            > .inner-after {
                box-sizing: content-box;
                position:absolute;
                top: 8px;
                left: 8px;
                width: calc(100% - 16px);
                height: calc(100% - 16px);
                background-color: #F24;
                border-radius: 100%;
            }
        }
        $count: 10;
        $size: 100 / $count * 1%;
        @for $i from 0 through $count {
            .inner:nth-of-type(#{$i}) {
                z-index: 2 * $i;
                display: block;
                width: ($count - $i) * $size;
                height: (($count - $i) * $size) * 2;
                right: 100 - ($count - $i) * ($count - $i) * 1%;

                > .inner-after {
                    z-index: 2 * $i + 1;
                }
            }
        }
    }

    > .stats {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        > .statsContainer { 
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            > .userStats {
                padding: 10px;
                width: 100px;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
    
                > p {
                    color: inherit;
                    padding: 0;
                    margin: 0;
                }
            }
        }

    }
}

#addPurchase {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    > .Select {
        z-index: 0;
        margin: 2px;
        width: 20%;
        max-width: 300px;
        min-width: 180px;
        
        > .Select-control {
            padding: 0px 5px;
            width: 100%;
            text-align: center;
            font-size: 1rem;
            max-width: 300px;
            min-width: 180px;
            border: 1.3px solid #EBEEF5;
            border-radius: 4px;
            transition: 0.2s border-color;
            box-shadow: none;
            outline: none;
    
            &::placeholder {
                color: #C0C4CC;
            }
            &:hover {
                transition: 0.2s border-color;
                border-color: #DCDFE6;
            }
            &:focus {
                transition: 0.2s border-color;
                border-color: var(--blue);
            }
        }
    }
}